In [63]:
import pandas as pd
import matplotlib.pyplot as plt

The subway data for 2022-2024 is too big for pandas to read. Therefore, need to read the file in chunks and clean in chunks before cleaning can occur and then conctonate the dataframes into one paquet file

In [64]:
# Define the chunk size
chunk_size = 10000


first_chunk = pd.read_csv('c:/A/MTA_Subway_2022_24.csv', chunksize=chunk_size)

first_chunk = next(first_chunk)

print(first_chunk.head())

        transit_timestamp transit_mode station_complex_id  \
0  06/09/2023 12:00:00 AM       subway                359
1  05/03/2023 12:00:00 PM       subway                359
2  08/20/2023 03:00:00 PM       subway                359
3  06/06/2023 11:00:00 PM       subway                359
4  08/10/2023 11:00:00 AM       subway                359

                      station_complex   borough payment_method  \
0  Flatbush Av-Brooklyn College (2,5)  Brooklyn      metrocard
1  Flatbush Av-Brooklyn College (2,5)  Brooklyn      metrocard
2  Flatbush Av-Brooklyn College (2,5)  Brooklyn      metrocard
3  Flatbush Av-Brooklyn College (2,5)  Brooklyn      metrocard
4  Flatbush Av-Brooklyn College (2,5)  Brooklyn      metrocard

                fare_class_category  ridership  transfers   latitude  \
0      Metrocard - Unlimited 30-Day          4          0  40.632835
1              Metrocard - Students         58          4  40.632835
2  Metrocard - Seniors & Disability         12          1  40.632835
3      Metrocard - Unlimited 30-Day          1          0  40.632835
4              Metrocard - Students         14          2  40.632835

   longitude                                   Georeference
0 -73.947639  POINT (-73.94763946533203 40.632835388183594)
1 -73.947639  POINT (-73.94763946533203 40.632835388183594)
2 -73.947639  POINT (-73.94763946533203 40.632835388183594)
3 -73.947639  POINT (-73.94763946533203 40.632835388183594)
4 -73.947639  POINT (-73.94763946533203 40.632835388183594)

In [65]:
first_chunk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   transit_timestamp    10000 non-null  object
 1   transit_mode         10000 non-null  object
 2   station_complex_id   10000 non-null  object
 3   station_complex      10000 non-null  object
 4   borough              10000 non-null  object
 5   payment_method       10000 non-null  object
 6   fare_class_category  10000 non-null  object
 7   ridership            10000 non-null  int64
 8   transfers            10000 non-null  int64
 9   latitude             10000 non-null  float64
 10  longitude            10000 non-null  float64
 11  Georeference         10000 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 937.6+ KB

In [66]:
first_chunk.nunique()

transit_timestamp      5369
transit_mode              3
station_complex_id      404
station_complex         404
borough                   5
payment_method            2
fare_class_category      10
ridership               382
transfers               147
latitude                410
longitude               410
Georeference            414
dtype: int64

In [67]:
first_chunk.isnull()

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,Georeference
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False

In [68]:
df = first_chunk
# Change data types of all object columns to category except for 'Georeference'
for col in df.select_dtypes(include='object').columns:
    if col != 'Georeference':
        df[col] = df[col].astype('category')

# Display the data types to verify the changes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   transit_timestamp    10000 non-null  category
 1   transit_mode         10000 non-null  category
 2   station_complex_id   10000 non-null  category
 3   station_complex      10000 non-null  category
 4   borough              10000 non-null  category
 5   payment_method       10000 non-null  category
 6   fare_class_category  10000 non-null  category
 7   ridership            10000 non-null  int64
 8   transfers            10000 non-null  int64
 9   latitude             10000 non-null  float64
 10  longitude            10000 non-null  float64
 11  Georeference         10000 non-null  object
dtypes: category(7), float64(2), int64(2), object(1)
memory usage: 698.9+ KB

In [69]:
df['transit_timestamp'] = pd.to_datetime(df['transit_timestamp'])

# Extract date from 'transit_timestamp'
df['date'] = df['transit_timestamp'].dt.date

C:\Users\Kevin\AppData\Local\Temp\ipykernel_5328\1517558219.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['transit_timestamp'] = pd.to_datetime(df['transit_timestamp'])

In [70]:
print(df.head())

    transit_timestamp transit_mode station_complex_id  \
0 2023-06-09 00:00:00       subway                359
1 2023-05-03 12:00:00       subway                359
2 2023-08-20 15:00:00       subway                359
3 2023-06-06 23:00:00       subway                359
4 2023-08-10 11:00:00       subway                359

                      station_complex   borough payment_method  \
0  Flatbush Av-Brooklyn College (2,5)  Brooklyn      metrocard
1  Flatbush Av-Brooklyn College (2,5)  Brooklyn      metrocard
2  Flatbush Av-Brooklyn College (2,5)  Brooklyn      metrocard
3  Flatbush Av-Brooklyn College (2,5)  Brooklyn      metrocard
4  Flatbush Av-Brooklyn College (2,5)  Brooklyn      metrocard

                fare_class_category  ridership  transfers   latitude  \
0      Metrocard - Unlimited 30-Day          4          0  40.632835
1              Metrocard - Students         58          4  40.632835
2  Metrocard - Seniors & Disability         12          1  40.632835
3      Metrocard - Unlimited 30-Day          1          0  40.632835
4              Metrocard - Students         14          2  40.632835

   longitude                                   Georeference        date
0 -73.947639  POINT (-73.94763946533203 40.632835388183594)  2023-06-09
1 -73.947639  POINT (-73.94763946533203 40.632835388183594)  2023-05-03
2 -73.947639  POINT (-73.94763946533203 40.632835388183594)  2023-08-20
3 -73.947639  POINT (-73.94763946533203 40.632835388183594)  2023-06-06
4 -73.947639  POINT (-73.94763946533203 40.632835388183594)  2023-08-10

In [71]:
# List all unique entries in the fare_class_category column
unique_fare_classes = df['fare_class_category'].unique()

# Display the unique fare classes
print(unique_fare_classes)

['Metrocard - Unlimited 30-Day', 'Metrocard - Students', 'Metrocard - Seniors & Disability', 'Metrocard - Other', 'Metrocard - Full Fare', 'OMNY - Full Fare', 'Metrocard - Unlimited 7-Day', 'OMNY - Seniors & Disability', 'Metrocard - Fair Fare', 'OMNY - Other']
Categories (10, object): ['Metrocard - Fair Fare', 'Metrocard - Full Fare', 'Metrocard - Other', 'Metrocard - Seniors & Disability', ..., 'Metrocard - Unlimited 7-Day', 'OMNY - Full Fare', 'OMNY - Other', 'OMNY - Seniors & Disability']

In [72]:
df['transit_mode'].unique()

['subway', 'staten_island_railway', 'tram']
Categories (3, object): ['staten_island_railway', 'subway', 'tram']

In [73]:
df['borough'].unique()

['Brooklyn', 'Queens', 'Bronx', 'Manhattan', 'Staten Island']
Categories (5, object): ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

In [74]:
df['payment_method'].unique()

['metrocard', 'omny']
Categories (2, object): ['metrocard', 'omny']

# Identify categorical columns
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

# Plot the frequency of values for each categorical column
plt.figure(figsize=(15, 10))

for i, col in enumerate(categorical_columns, 1):
    plt.subplot(3, 3, i)  # Adjust subplot grid size as needed
    df[col].value_counts().plot(kind='bar', color='skyblue')
    plt.title(f'Frequency of {col}')
    plt.xlabel(col)
    plt.ylabel('Count')
    plt.xticks(rotation=45)

plt.tight_layout()
plt.show()

In [75]:
df = df.drop(columns=[  'payment_method', 'Georeference', 'transfers', 'transit_mode', 'fare_class_category', 'station_complex', 'borough', 'transit_timestamp'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transit_timestamp   10000 non-null  datetime64[ns]
 1   station_complex_id  10000 non-null  category
 2   station_complex     10000 non-null  category
 3   borough             10000 non-null  category
 4   ridership           10000 non-null  int64
 5   latitude            10000 non-null  float64
 6   longitude           10000 non-null  float64
 7   date                10000 non-null  object
dtypes: category(3), datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 478.4+ KB

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   transit_timestamp   10000 non-null  datetime64[ns]
 1   station_complex_id  10000 non-null  category
 2   station_complex     10000 non-null  category
 3   borough             10000 non-null  category
 4   ridership           10000 non-null  int64
 5   latitude            10000 non-null  float64
 6   longitude           10000 non-null  float64
 7   date                10000 non-null  object
dtypes: category(3), datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 478.4+ KB

In [77]:
df.head()

,transit_timestamp,station_complex_id,station_complex,borough,ridership,latitude,longitude,date
0,2023-06-09 00:00:00,359,"Flatbush Av-Brooklyn College (2,5)",Brooklyn,4,40.632835,-73.947639,2023-06-09
1,2023-05-03 12:00:00,359,"Flatbush Av-Brooklyn College (2,5)",Brooklyn,58,40.632835,-73.947639,2023-05-03
2,2023-08-20 15:00:00,359,"Flatbush Av-Brooklyn College (2,5)",Brooklyn,12,40.632835,-73.947639,2023-08-20
3,2023-06-06 23:00:00,359,"Flatbush Av-Brooklyn College (2,5)",Brooklyn,1,40.632835,-73.947639,2023-06-06
4,2023-08-10 11:00:00,359,"Flatbush Av-Brooklyn College (2,5)",Brooklyn,14,40.632835,-73.947639,2023-08-10

In [78]:
# Sort by the 'date' column
sorted_df = df.sort_values(by='date')

# Display the top rows
print(sorted_df.head())

       transit_timestamp station_complex_id  \
8354 2022-11-30 17:00:00                 86
8355 2022-12-01 04:00:00                 86
8356 2022-12-01 09:00:00                 86
8357 2022-12-02 05:00:00                 86
8337 2023-01-01 00:00:00                359

                         station_complex   borough  ridership   latitude  \
8354                   Cypress Hills (J)  Brooklyn          2  40.689941
8355                   Cypress Hills (J)  Brooklyn          1  40.689941
8356                   Cypress Hills (J)  Brooklyn          2  40.689941
8357                   Cypress Hills (J)  Brooklyn          3  40.689941
8337  Flatbush Av-Brooklyn College (2,5)  Brooklyn          3  40.632835

      longitude        date
8354 -73.872551  2022-11-30
8355 -73.872551  2022-12-01
8356 -73.872551  2022-12-01
8357 -73.872551  2022-12-02
8337 -73.947639  2023-01-01

In [79]:
df['longitude'] = df['longitude'].astype('float32')
df['latitude'] = df['latitude'].astype('float32')
df['ridership'] = df['ridership'].astype('int16')
df.drop(columns=['station_complex', 'borough', 'transit_timestamp', 'longitude','latitude'])

     station_complex_id  ridership        date
0                   359          4  2023-06-09
1                   359         58  2023-05-03
2                   359         12  2023-08-20
3                   359          1  2023-06-06
4                   359         14  2023-08-10
...                 ...        ...         ...
9995                359         52  2023-11-30
9996                359         72  2023-11-02
9997                108          2  2024-01-12
9998                359         57  2023-07-11
9999                 49          6  2024-01-12

[10000 rows x 3 columns]

In [ ]:

# Sort the DataFrame by all columns except 'ridership'
df = df.sort_values(by=['date', 'station_complex_id'])
# Group by 'date', 'station_complex_id' and other relevant columns, then sum 'ridership'
grouped_df = df.groupby(['date', 'station_complex_id'], as_index=False)['ridership'].agg()
print(grouped_df.head())

In [81]:
print(len(grouped_df))

144632