In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('c:/A5/NYC_Weather_2016_2022.csv')

In [24]:
df.head()

,time,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2016-01-01T00:00,7.6,0.0,0.0,69.0,53.0,0.0,72.0,10.0,296.0
1,2016-01-01T01:00,7.5,0.0,0.0,20.0,4.0,0.0,56.0,9.8,287.0
2,2016-01-01T02:00,7.1,0.0,0.0,32.0,3.0,0.0,99.0,9.7,285.0
3,2016-01-01T03:00,6.6,0.0,0.0,35.0,5.0,0.0,100.0,9.2,281.0
4,2016-01-01T04:00,6.3,0.0,0.0,34.0,4.0,0.0,100.0,9.1,279.0

In [25]:
df.nunique()

time                     59760
temperature_2m (°C)        512
precipitation (mm)          92
rain (mm)                   92
cloudcover (%)             101
cloudcover_low (%)         101
cloudcover_mid (%)         101
cloudcover_high (%)        101
windspeed_10m (km/h)       398
winddirection_10m (°)      360
dtype: int64

In [26]:
nan_count_per_column = df.isna().sum()

print(nan_count_per_column)

time                       0
temperature_2m (°C)      168
precipitation (mm)       168
rain (mm)                168
cloudcover (%)           168
cloudcover_low (%)       168
cloudcover_mid (%)       168
cloudcover_high (%)      168
windspeed_10m (km/h)     168
winddirection_10m (°)    173
dtype: int64

In [27]:
df =  df.dropna()
print(df.tail)

<bound method NDFrame.tail of                    time  temperature_2m (°C)  precipitation (mm)  rain (mm)  \
0      2016-01-01T00:00                  7.6                 0.0        0.0
1      2016-01-01T01:00                  7.5                 0.0        0.0
2      2016-01-01T02:00                  7.1                 0.0        0.0
3      2016-01-01T03:00                  6.6                 0.0        0.0
4      2016-01-01T04:00                  6.3                 0.0        0.0
...                 ...                  ...                 ...        ...
59611  2022-10-19T19:00                 12.2                 0.0        0.0
59612  2022-10-19T20:00                 12.2                 0.0        0.0
59613  2022-10-19T21:00                 12.2                 0.0        0.0
59614  2022-10-19T22:00                 11.1                 0.0        0.0
59615  2022-10-19T23:00                 10.4                 0.0        0.0

       cloudcover (%)  cloudcover_low (%)  cloudcover_mid (%)  \
0                69.0                53.0                 0.0
1                20.0                 4.0                 0.0
2                32.0                 3.0                 0.0
3                35.0                 5.0                 0.0
4                34.0                 4.0                 0.0
...               ...                 ...                 ...
59611            68.0                 9.0               100.0
59612            61.0                 8.0                90.0
59613            62.0                21.0                72.0
59614             4.0                 0.0                 6.0
59615             0.0                 0.0                 0.0

       cloudcover_high (%)  windspeed_10m (km/h)  winddirection_10m (°)
0                     72.0                  10.0                  296.0
1                     56.0                   9.8                  287.0
2                     99.0                   9.7                  285.0
3                    100.0                   9.2                  281.0
4                    100.0                   9.1                  279.0
...                    ...                   ...                    ...
59611                  0.0                  21.2                  212.0
59612                  0.0                  20.3                  207.0
59613                  0.0                  16.6                  207.0
59614                  0.0                  10.8                  206.0
59615                  0.0                   7.7                  217.0

[59587 rows x 10 columns]>

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59587 entries, 0 to 59615
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   time                   59587 non-null  object
 1   temperature_2m (°C)    59587 non-null  float64
 2   precipitation (mm)     59587 non-null  float64
 3   rain (mm)              59587 non-null  float64
 4   cloudcover (%)         59587 non-null  float64
 5   cloudcover_low (%)     59587 non-null  float64
 6   cloudcover_mid (%)     59587 non-null  float64
 7   cloudcover_high (%)    59587 non-null  float64
 8   windspeed_10m (km/h)   59587 non-null  float64
 9   winddirection_10m (°)  59587 non-null  float64
dtypes: float64(9), object(1)
memory usage: 5.0+ MB

In [29]:
df['time'] = pd.to_datetime(df['time'])

In [30]:
float_columns = df.select_dtypes(include='float64').columns
df[float_columns] = df[float_columns].astype('float32')

In [31]:
df['year'] = df['time'].dt.year
df['month'] = df['time'].dt.month

In [32]:
condition = (
    (df['year'] == 2022) | 
    (df['year'] == 2021) | 
    ((df['year'] == 2020) & (df['month'] >= 11))
)

# Apply the condition to filter rows
df_filtered = df[condition].copy()

In [33]:
df_filtered.loc[df_filtered['year'] == 2021, 'time'] = df_filtered.loc[df_filtered['year'] == 2021, 'time'].apply(lambda x: x.replace(year=2023))

# Change the last two months of 2020 to 2022
df_filtered.loc[(df_filtered['year'] == 2020) & (df_filtered['month'] >= 11), 'time'] = df_filtered.loc[(df_filtered['year'] == 2020) & (df_filtered['month'] >= 11), 'time'].apply(lambda x: x.replace(year=2022))

# Drop the temporary 'year' and 'month' columns
df_filtered.drop(columns=['year', 'month'], inplace=True)

In [13]:
print(len(df_filtered))
print(df_filtered.head())

17205
                     time  temperature_2m (°C)  precipitation (mm)  rain (mm)  \
42384 2022-11-01 00:00:00                  6.5                 0.0        0.0
42385 2022-11-01 01:00:00                  6.4                 0.0        0.0
42386 2022-11-01 02:00:00                  6.1                 0.0        0.0
42387 2022-11-01 03:00:00                  5.5                 0.0        0.0
42388 2022-11-01 04:00:00                  5.1                 0.0        0.0

       cloudcover (%)  cloudcover_low (%)  cloudcover_mid (%)  \
42384            55.0                61.0                 0.0
42385            64.0                71.0                 0.0
42386            52.0                58.0                 0.0
42387            40.0                44.0                 0.0
42388            41.0                46.0                 0.0

       cloudcover_high (%)  windspeed_10m (km/h)  winddirection_10m (°)
42384                  0.0                   7.0                  159.0
42385                  0.0                   6.0                  163.0
42386                  0.0                   6.2                  173.0
42387                  0.0                   6.4                  196.0
42388                  0.0                   6.9                  223.0

In [15]:
df_filtered.to_parquet('c:/fomo_data/hist_weather_parquet')

In [34]:

index = pd.read_parquet('c:/fomo_data/fully_combined.parquet')

In [35]:
index['year'] = index['transit_timestamp'].dt.year
index['month'] = index['transit_timestamp'].dt.month

In [36]:
index['year'].nunique()

9

In [37]:
year_counts = index['year'].value_counts()

# Display the counts
print(year_counts)

year
2023    1713868
2022    1570566
2024     572494
2002        457
2009        101
2008         28
2003         23
2001         17
2014          2
Name: count, dtype: int64

In [38]:
# Filter the DataFrame to keep only the rows where 'year' is 2024, 2022, or 2021
index = index[index['year'].isin([2024, 2022, 2021])]

In [39]:
index.drop(columns=['year', 'month'], inplace=True)

In [40]:
index.nunique()

locationid             260
transit_timestamp    11640
ridership            24836
dtype: int64

In [41]:
index.head()

   locationid   transit_timestamp  ridership
0         2.0 2022-02-06 15:00:00        1.0
1         2.0 2022-02-16 23:00:00        1.0
2         2.0 2022-02-23 08:00:00        1.0
3         2.0 2022-02-23 19:00:00        4.0
4         2.0 2022-03-22 10:00:00        1.0

In [42]:
index['transit_timestamp'] = pd.to_datetime(index['transit_timestamp'], errors='coerce')
df_filtered['time'] = pd.to_datetime(df_filtered['time'], errors='coerce')

# Split into year, month, day, and hour
index['year'] = index['transit_timestamp'].dt.year
index['month'] = index['transit_timestamp'].dt.month
index['day'] = index['transit_timestamp'].dt.day
index['hour'] = index['transit_timestamp'].dt.hour

df_filtered['year'] = df_filtered['time'].dt.year
df_filtered['month'] = df_filtered['time'].dt.month
df_filtered['day'] = df_filtered['time'].dt.day
df_filtered['hour'] = df_filtered['time'].dt.hour

# Drop the original timestamp columns
index.drop(columns=['transit_timestamp'], inplace=True)
df_filtered.drop(columns=['time'], inplace=True)

# Verify the conversion
print("Ridership DataFrame with Split Time Columns:\n", index.head())
print("Weather DataFrame with Split Time Columns:\n", df_filtered.head())

Ridership DataFrame with Split Time Columns:
    locationid  ridership  year  month  day  hour
0         2.0        1.0  2022      2    6    15
1         2.0        1.0  2022      2   16    23
2         2.0        1.0  2022      2   23     8
3         2.0        4.0  2022      2   23    19
4         2.0        1.0  2022      3   22    10
Weather DataFrame with Split Time Columns:
        temperature_2m (°C)  precipitation (mm)  rain (mm)  cloudcover (%)  \
42384                  6.5                 0.0        0.0            55.0
42385                  6.4                 0.0        0.0            64.0
42386                  6.1                 0.0        0.0            52.0
42387                  5.5                 0.0        0.0            40.0
42388                  5.1                 0.0        0.0            41.0

       cloudcover_low (%)  cloudcover_mid (%)  cloudcover_high (%)  \
42384                61.0                 0.0                  0.0
42385                71.0                 0.0                  0.0
42386                58.0                 0.0                  0.0
42387                44.0                 0.0                  0.0
42388                46.0                 0.0                  0.0

       windspeed_10m (km/h)  winddirection_10m (°)  year  month  day  hour
42384                   7.0                  159.0  2022     11    1     0
42385                   6.0                  163.0  2022     11    1     1
42386                   6.2                  173.0  2022     11    1     2
42387                   6.4                  196.0  2022     11    1     3
42388                   6.9                  223.0  2022     11    1     4

In [43]:
index.tail()

         locationid  ridership  year  month  day  hour
3857551       263.0      985.0  2024      5   30    19
3857552       263.0      573.0  2024      5   30    20
3857553       263.0      452.0  2024      5   30    21
3857554       263.0      370.0  2024      5   30    22
3857555       263.0      226.0  2024      5   30    23

In [44]:
print(len(index))

2143060

In [45]:
df_merged = pd.merge(index, df_filtered, on=['year', 'month', 'day', 'hour'], how='left')

# Verify the merged DataFrame
print("Merged DataFrame shape:", df_merged.shape)
df_merged.head()

Merged DataFrame shape: (2143060, 15)

,locationid,ridership,year,month,day,hour,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2.0,1.0,2022,2,6,15,-5.6,0.0,0.0,11.0,0.0,0.0,35.0,6.600000,331.0
1,2.0,1.0,2022,2,16,23,5.4,0.0,0.0,29.0,0.0,0.0,97.0,12.100000,280.0
2,2.0,1.0,2022,2,23,8,13.5,0.0,0.0,44.0,8.0,11.0,100.0,16.299999,227.0
3,2.0,4.0,2022,2,23,19,17.5,0.0,0.0,22.0,5.0,2.0,54.0,21.600000,184.0
4,2.0,1.0,2022,3,22,10,7.4,0.0,0.0,20.0,0.0,30.0,8.0,10.800000,127.0

In [29]:
df_merged.head()

,locationid,transit_timestamp,ridership,time,temperature_2m (°C),precipitation (mm),rain (mm),cloudcover (%),cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),windspeed_10m (km/h),winddirection_10m (°)
0,2.0,2022-02-06 15:00:00,1.0,2022-02-06 15:00:00,-5.6,0.0,0.0,11.0,0.0,0.0,35.0,6.600000,331.0
1,2.0,2022-02-16 23:00:00,1.0,2022-02-16 23:00:00,5.4,0.0,0.0,29.0,0.0,0.0,97.0,12.100000,280.0
2,2.0,2022-02-23 08:00:00,1.0,2022-02-23 08:00:00,13.5,0.0,0.0,44.0,8.0,11.0,100.0,16.299999,227.0
3,2.0,2022-02-23 19:00:00,4.0,2022-02-23 19:00:00,17.5,0.0,0.0,22.0,5.0,2.0,54.0,21.600000,184.0
4,2.0,2022-03-22 10:00:00,1.0,2022-03-22 10:00:00,7.4,0.0,0.0,20.0,0.0,30.0,8.0,10.800000,127.0

In [46]:
df_merged.to_parquet('c:/fomo_data/model_data_weather.parquet')